.colorName {
    color: white;
}
#headerBG {
    text-align: center;
    background: #003366;
    background-size: cover;
    padding-bottom: 15px;
    margin-left: 7.5%;
    margin-right: 7.5%;
}
#header {
    font-size: 65px;
    padding: 0;
    margin: 0;
}
#nospace {
    font-size: 19.5px;
    padding: 0;
    margin: 0;
}
#bold {
    font-weight: bold;
}
#bolder {
    font-weight: bolder;
    animation:blinkingText 1.2s infinite;
}
.colorRGB {
    color: rgb(228, 14, 52);
}
.backgroundBlue {
    background-color: #031d44;
    width: 85%;
}
.fontStandard {
    font-family: "Arial Narrow", serif
}
.backgroundImg {
    background-image: url("../../../hw5/rallybg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.links:hover {
    background-color: rgb(228, 14, 52);
}
.links {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
nav {
    text-align: center;
    font-size:x-large;
    padding: 15px 0;
    margin-top: 0;
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 100%;
}
footer {
    text-align: center;
    background: #003366;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    color: #ffffff;
    font-size: large;
}
.noDecor {
    text-decoration: none;
    color: #ffffff;
}
.noDecor:hover {
    text-decoration: none;
    color: #e40e34;
}
h1 {
    text-align: center;
    font-size: xx-large;
}
p, h1, h2 {
    color: white;
}
h2 {
    font-size: x-large;
}
p {
    font-size: large;
}
@keyframes blinkingText {
    0% {
        color: #ffffff;
    }
    49% {
        color: #e40e34;
    }
    60% {
        color: #031d44;
    }
    99% {
        color: transparent;
    }
    100% {
        color: #37373b;
    }
}
input, textarea {
    background-color: gray;
    color: white;
    border: 1px solid #003366;
    box-sizing: border-box;
    padding: 6px 80px 6px 5px;
    -webkit-transition: 1s;
    transition: 1s;
    outline: none;
}
button {
    border: 1px solid #031d44;
    background-color: #003366;
    color: white;
    padding: 5px 10px;
    font-size: large;
    outline: none;
    -webkit-transition: 1s;
    transition: 1s;
}
button:active {
    background-color: #1A4D80;
    border: 2px solid #1D375E;
    color: #AAAAAA;
    transition: 0s;
    padding: 4px 9px;
    -webkit-transition: 0s;
}
input:focus, textarea:focus {
    border: 1px solid #e40e34;
}
a {
    text-decoration: none;
}
.pHeight {
    line-height: 30px;
}