#boxLine {
    background-color: #031d44;
    grid-column: 2;
    height: 100%;
    margin-top: 10px
}
#box2 {
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    grid-column: 3;

}
#box1 {
    text-align:center;
    margin-left: 15px;
    margin-right: 15px;
    grid-column: 1;
    grid-row: 1;
}
#strip {
    margin-left: 7.5%;
    margin-right: 7.5%;
    background: #37373b;
    background-size: cover;
    padding-bottom: 30px;
    display:grid;
    grid-template-columns: 65% 5px 30%;
    grid-gap: 3px;
    justify-content: center;
}
.boxborder {
    background-color: #003366;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin: 5px;
    border: 3px solid #031d44;
    text-align: center;
}
.boxborder:hover {
    background-color: #334c66;
    border: 3px solid #223045;
}
img {
    width: 350px
}
iframe {
    border: 10px solid #031d44;
}