/*color scheme:
    #e40e34
    #ffffff
    #003366
    #031d44
    #37373b
*/
i {
    color: #e40e34;
    color: #ffffff;
    color: #003366;
    color: #031d44;
    color: #37373b;
}
body {
    font-family: "Arial Narrow", serif;
    background-image: url("./rallybg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#header {
    font-size: 60px;
    color: #e40e34;
    text-align: center;
    margin-bottom:10px;
}
p, h2 {
    color:white;
    font-size:large;
}
h2 {
    padding-top:10px;
    text-align:center;
    font-size: x-large;
}
img {
    width: 200px;
}
#bg2 {
    background-color: #031d44;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    padding-bottom: 20px;
}
.img {
    float: left;
    margin: 20px;
}
.clear {
    clear: left;
}
#margins {
    margin: 10px 15px 10px 15px;
}
#strip {
    margin-left: 10%;
    margin-right: 10%;
    background: #37373b;
    background-size: cover;
    padding-bottom: 30px;
}
a, a:link, a:visited, a:active {
    color:#ffffff;
}
a:hover {
    color:#e40e34;
}